/build/
/config/
dist
test
node_modules/
static
.*
**/*.min.*
**/*.css
**/*.scss
**/*.less
**/*.sass
**/*.woff
**/*.woff2
**/*.txt
**/*.ttf
**/*.otf
**/*.eot
**/*.font
**/*.svg
**/*.png
**/*.jpg
**/*.jpeg
**/*.PNG
**/*.JPG
**/*.JPEG
**/*.md
**/*.tpl